---
import Basic from "@layouts/Basic.astro";
import NavBar from "@components/NavBar.astro";

import "@styles/markdown.css";

const entries = await Astro.glob("../../assets/journal-entries/*.md");
---

<script>
  const daysLeft = 27;

  const fadeInTitle = () => {
    setTimeout(() => {
      const collection = document.getElementsByClassName("bring-in");

      for (let i = 0; i < collection.length; i++) {
        collection[i].classList.add("animate-fade-in-1");
      }
    }, 750);
  };

  const interpolatedArray = (end: number) => {
    const size = end;
    let arr = [];
    for (let i = 0; i < size - 1; i++) {
      const num = Math.ceil((end / size) * i).toString();
      arr.push(num);
    }
    arr.push(end.toString());
    return arr;
  };

  const totalElem = document.getElementById("days");

  window.onload = function () {
    if (totalElem) {
      const nums = interpolatedArray(daysLeft);
      console.log(nums);

      const intervalID = setInterval(() => {
        const num = nums.shift();
        if (!num) {
          clearInterval(intervalID);
          
          fadeInTitle();
          return;
        }

        totalElem.innerHTML = num;
      }, 30);
    }
  };
</script>

<Basic title="Journal" description="Cataloging the harrowing journey">
  <div
    class="-z-10 journal-bg fixed w-screen h-screen flex justify-center items-center"
  >
    <h1
      class="animate-fade-in-.5 text-center text-opacity-20 max-w-full text-8xl sm:text-[min(25vw,50vh)] text-white leading-none pb-0 dm-sans font-extralight"
    >
      <div class="block"><span id="days">27</span> DAYS UNTIL</div>
    </h1>
  </div>

  <NavBar buttons={["Home"]} />

  <div
    class="min-w-screen min-h-screen flex flex-col justify-center items-center text-black px-5 sm:px-10 new-ams"
  >
    <div class="w-full md:w-3/4">
      <div class="opacity-0 bring-in flex flex-col justify-end h-screen" id="title-s">
        <div class="flex flex-row items-center h-20 mb-[-2.5rem]">
          <div
            class="ml-[1.625rem] bg-white rounded-full h-8 w-8 min-w-8"
          >
          </div>
          <h1 class="mx-auto pr-[3.625rem] text-white text-5xl md:text-7xl lg:text-8xl text-center">THE JOURNAL</h1>
        </div>
        <div
          class="ml-10 h-[50vh] w-1 bg-white"
        ></div>
      </div>
      {entries.map((entry) =>
        <div class="h-20 pl-10 flex">
          <div
            class="opacity-0 bring-in border-l-4 border-white h-full pl-4"
          >
          </div>
          <h1 class="self-end text-4xl text-white">{entry.frontmatter.date}</h1>
        </div>
        <div class="z-10 bg-white shadow-xl shadow-gray-700 p-6 sm:p-10 w-full markdown">
          <entry.Content />
        </div>
      )}
    </div>
  </div>
</Basic>