.new-ams {
  font-family: "New Amsterdam", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.dm-sans {
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

html { 
  color: white;
}

body {
  overflow-x: hidden; /* Hide horizontal scrollbar */
}

.scrollbar::-webkit-scrollbar {
  display: none;
}

/* @keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
} */

.main-bg {
  background: radial-gradient(#292929, #0c0c0c);
}

.journal-bg {
  background: radial-gradient(#cf0000, #850000);
}

/* .bg-fade-out {
  animation: fade-out 1s forwards;
}

.content-fade-out {
  animation: fade-out 0.5s forwards;
} */