---
import Image from "astro/components/Image.astro";
import Fonts from "@components/Fonts.astro";

import CharlieHS from "../assets/Charles_HS1.jpg";
import "@styles/globals.css";
---

<!doctype html>
<html lang="en">
  <head>
    <Fonts />
    <title>Help Charlie!</title>
  </head>
  <body>
    <div
      class="z-10 absolute w-screen h-screen flex justify-center items-center"
    >
      <h1
        class="text-center text-opacity-10 text-[40vh] text-white leading-none pb-0 dm-sans font-extralight"
      >
        $63.74<br />RAISED
      </h1>
    </div>
    <div
      class="bg-black h-screen w-screen flex flex-row justify-center items-center"
    >
      <h1
        class="z-20 text-8xl text-white align-middle mr-10 new-ams w-[15rem] text-right"
      >
        CHARLIE NEEDS HELP
      </h1>
      <Image
        src={CharlieHS}
        alt="charlie"
        class="z-20 h-96 w-auto shadow-2xl shadow-red-600"
      />
    </div>
  </body>
</html>
