---
export const prerender = false;

import Image from "astro/components/Image.astro";
import Fonts from "@components/Fonts.astro";
import Block from "@components/Block.astro";
// import RaisedTotal from "@components/RaisedTotal.astro";

import CharlieHS from "../assets/Charles_HS1.jpg";
import CharSmoke from "../assets/C-2.jpg";
import CharMug from "../assets/C-3.jpg";
import CharYears from "../assets/C-4.jpg";

import "@styles/globals.css";

import { GET } from "../pages/api/donation-total.json.ts";

let response = await GET(Astro);
const total = (await response.json()).total;
---

<script type="module" define:vars={{ total }}>
  import { CountUp } from "../../node_modules/countup.js";

  const fadeInTitle = () => {
    setTimeout(() => {
      const text = document.getElementById("title-text");
      const img = document.getElementById("title-image");

      if (text && img) {
        text.classList.remove("hidden");
        text.classList.add("animate-fade");

        img.classList.remove("hidden");
        img.classList.add("animate-fade");
      }
    }, 500);
  };

  window.onload = function () {
    var countUp = new CountUp("total", total, {
      decimalPlaces: 2,
      onCompleteCallback: fadeInTitle,
    });
    countUp.start();
  };
</script>

<html lang="en" class="scrollbar">
  <head>
    <Fonts />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Help Charlie!</title>
  </head>
  <body>
    <div
      class="-z-10 main-bg fixed w-screen h-screen flex justify-center items-center"
    >
      <h1
        class="text-center text-opacity-10 text-9xl sm:text-[min(25vw,50vh)] text-white leading-none pb-0 dm-sans font-extralight"
      >
        $<span id="total">0.00</span><br />RAISED
      </h1>
    </div>
    <div
      class="w-screen h-screen flex flex-col-reverse sm:flex-row justify-center items-center"
    >
      <h1
        id="title-text"
        class="text-7xl sm:text-8xl align-middle mt-5 sm:mr-10 new-ams w-[15rem] text-center sm:text-right hidden"
      >
        CHARLIE NEEDS HELP
      </h1>
      <Image
        id="title-image"
        src={CharlieHS}
        alt="charlie"
        class="h-80 sm:h-96 w-auto shadow-xl shadow-red-600 block hidden"
      />
    </div>
    <div class="flex flex-col w-screen items-center">
      <Block>
        <Image
          src={CharSmoke}
          alt="charlie"
          class="w-full max-w-72 h-auto border-2"
        />
        <div class="w-auto sm:w-72 flex flex-col justify-center">
          <h1 class="new-ams text-5xl mb-2 font-bold">CHARLIE NEEDS HELP</h1>
          <p class="new-ams text-2xl">
            He has fallen into the 7th circle of nicotine addiction. Being
            consumed by greed, he'll need all the motivation he can get to kick
            addiction once and for all.
          </p>
        </div>
      </Block>
      <Block>
        <div class="w-auto sm:w-72 flex flex-col justify-center">
          <h1 class="new-ams text-5xl mb-2 font-bold">POWER TO THE PEOPLE</h1>
          <p class="new-ams text-2xl">
            funds will be raised for those less fortunate. A pool will be earned
            during the period between December 1st to December 31st, including
            his own $20 to start. This pool will be sent to __ on the conditions
            that Charlie quits vaping for the month of January. Otherwise, that
            same pool will be out of Charlie's own pocket.
          </p>
        </div>
        <Image
          src={CharMug}
          alt="charlie"
          class="w-full max-w-72 h-auto border-2"
        />
      </Block>
      <Block>
        <Image
          src={CharYears}
          alt="charlie"
          class="w-full max-w-72 h-auto border-2"
        />
        <div class="w-auto sm:w-72 flex flex-col justify-center">
          <h1 class="new-ams text-5xl mb-2 font-bold">WE NEED YOU</h1>
          <p class="new-ams text-2xl">
            Here's the link to the signup. (Instructions)
          </p>
        </div>
      </Block>
    </div>
  </body>
</html>

<style>
  .main-bg {
    background: radial-gradient(#292929, #0c0c0c);
  }
</style>
