---
import Fonts from "@components/Fonts.astro";
import "@styles/globals.css";
---

<html lang="en" class="scrollbar">
  <head>
    <Fonts />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Terms and Conditions</title>
  </head>
  <body
    class="main-bg w-screen h-screen flex justify-center items-center text-white p-5"
  >
    <p class="new-ams text-2xl">Here are the terms and conditions</p>
  </body>
</html>

<style>
  .main-bg {
    background: radial-gradient(#292929, #0c0c0c);
  }
</style>
