---
import Basic from "@layouts/Basic.astro";
---

<Basic title="Terms and Conditions" description="Terms and Conditions">
  <div
    class="main-bg w-screen h-screen flex justify-center items-center text-white p-5"
  >
    <p class="new-ams text-2xl">Here are the terms and conditions</p>
  </div>
</Basic>

<style>
  .main-bg {
    background: radial-gradient(#292929, #0c0c0c);
  }
</style>
